/*body {
	font-size: 3rem;
	background-color: #FFFDD0;
	color: #734A12;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}*/
#field {
	width: 700px;
	border: 20px groove saddlebrown;
	background-color: #00FF00;
	position: relative;
}

#ball {
	position: absolute;
}