body {
	font-size: 3rem;
	background-color: #FFFDD0;
	color: #734A12;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

input {
	padding: 20px;
	margin: 50px;
	font-size: 2rem;
	background-color: #734A12;
	color: #FFFDD0;
	border: 2px solid #FFFDD0;
}